@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
.hotel-gallery-wrap {
  /* border: solid 10px red; */
  cursor:grab;
  
  height: -webkit-fill-available;
}
@screen sm {
  .hotel-gallery-wrap {
    height: 100vh;
  }
}
.hotel-gallery:not(.zoomed-out) {
  /* border: dashed 3px blue; */
  width: 200%;
  cursor:grab;
  /* animation: move 600s linear infinite; */
}
.hotel-gallery__item {
  padding-bottom: 1rem;
}
.hotel-gallery:not(.zoomed-out) .hotel-gallery__item {
  cursor:grab;
}
header,
footer {
  height: 500px;
  background-color: #f6f2ea;
 
  border-bottom: solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header {
  height:48px;
  text-align: left;
  justify-content: flex-start;
  padding: 0 1.5rem
}

#button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background: white;
  padding :1rem;
  z-index: 9;
  border: solid 1px;
  column-gap: 1rem;
}
#panzoomEl {
  padding-bottom: 1rem;
}
#panzoomEl[data-zoom='1']{
  /* columns: 4; */
  width: 100%;
}
#panzoomEl[data-zoom='2']{
  columns: 4;
  width: 100%;
}
#panzoomEl[data-zoom='3'] {
  columns: 5;
  width: 100%;
}
@screen sm {
  #panzoomEl[data-zoom='1']{
    columns: 7;
    width: 100%;
  }
  #panzoomEl[data-zoom='2']{
    columns: 8;
    width: 80%;
  }
  #panzoomEl[data-zoom='3'] {
    columns: 9;
    width: 65%;
  }
}

.icon-zoom-in {
  
}
.icon-zoom-out {
  display: none;
}